.autocomplete button,
input,
small {
  font-size: 100%;
}

/* ---- Dashboard ------------------------------ */

.dashboard-section a.tag:first-child {
  /* display:none; */
}
.input-is-readonly,
.dashboard-box {
  background: #F4F5F9;
  border-color: #D3D5E4;
  color: #9EA2AB;
}
.dashboard-box li {
  border-color:#D3D5E4;
}
/*
@media screen and (min-width: 60em) {
  .dashboard {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .dashboard-section {
    margin-bottom: 2.5em;
  }
}
*/


/* ---- Sidebar ------------------------------ */

.sidebar-list {

}


/* ---- Colors ------------------------------ */

a {
  color: #444f5f;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #848CA1;
}


.marginalia {
  color: inherit;
}
.selectbox,
.input {
  border: 2px solid #D8DAE7;
  color: #616686;
  font-size: 100%;
}
.modal-content textarea {
  max-height: 230px;
  overflow: auto !important;
}
.modal-content .text {
  margin-bottom:-1.0em
}
.input:focus {
  border-color: #38B230;
}

.tag {
  background: #A4A9BD;
}

.tag .tag-label {
  font-size: 0.9em;
  line-height: 1.9em;
}

.btn {
  color: #525A79;
  font-size: 100%;;
}

.btn-rounded {
  border: 2px solid #CBD0E4;
  padding: .4em 1.5em .5em 1.5em;
}

.btn-rounded:focus, .btn-rounded:hover {
  background: #677196;
  border-color: #677196;
}

.btn-negative:hover, .btn-negative:focus {
  background: #b3000a;
  border-color: #b3000a;
}

.btn-positive:hover, .btn-positive:focus {
  background: #8dae28;
  border-color: #8dae28;
}

.grey {
  color: #6B7281;
}

.app {
  background: #eceef1;
  color: #7d8693;
}

.hgroup a:after {
  background: #75859D;
}

.hgroup-title {
  border-bottom: 2px solid #ECEDF2;
}

.hgroup-options {
  color: #777B94;
}

.hgroup-options .icon {
  color: #999DB3;
}

.field-icon .icon {
  color: #A5ACC5;
}

.field-is-readonly .field-icon {
  background: #F4F5F9;
  border-left-color: #CDD1E2;
}

.sidebar-list {margin-bottom: 1.8em;}
.sidebar-list > li > a {padding: .5em 0;}

.topbar {
  background: #444f5f;
}
.breadcrumb {
  background: #444f5f;
}

.breadcrumb-label {
  padding: 1em 1.4em 1em 0;
  font-size: 0.9em;
  line-height: 1.35em;
}

.breadcrumb-label:after {
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), #444f5f);
  background: -moz-linear-gradient(left, rgba(0,0,0,0), #444f5f);
  background: -ms-linear-gradient(left, rgba(0,0,0,0), #444f5f);
  background: linear-gradient(left, rgba(0,0,0,0), #444f5f);
}

.breadcrumb-link {color: #AFBBDD;}
.breadcrumb-link:hover {color: #C1CBE8;}
.breadcrumb-link:before {
  background: -webkit-linear-gradient(top, #676F88 , #676F88 50%, #676F88 );
  background: -moz-linear-gradient(top, #676F88 , #676F88 50%, #676F88 );
  background: -ms-linear-gradient(top, #676F88 , #676F88 50%, #676F88 );
  background: linear-gradient(top, #676F88 , #676F88 50%, #676F88 );
}
.breadcrumb-link:after {
  background: -webkit-linear-gradient(top, #676F88 , #676F88 50%, #676F88 );
  background: -moz-linear-gradient(top, #676F88 , #676F88 50%, #676F88 );
  background: -ms-linear-gradient(top, #676F88 , #676F88 50%, #676F88 );
  background: linear-gradient(top, #676F88 , #676F88 50%, #676F88 );
}

.nav-icon {
  background: #444f5f;
  color: #A6B6D2;
}
.nav-icon:hover {color: #C1CBE8;}
.nav-icon-left {border-right: 1px solid #575E7B;}
.nav-icon-right {border-left: 1px solid #575E7B;}

.sidebar-content > .marginalia {
  margin-bottom: 1.8em;
}


/* ---- Page Editor ------------------------------ */

@media screen and (min-width: 50em) {
  .modal-content {
    width: 30em;
  
    overflow: visible;
}
}


/* ---- Page Editor ------------------------------ */

.mainbar {
  /* position: relative; */
}
.fixedsave {
  position: fixed;
  bottom: 0px;
  left: 33.33%;
  right: 0px; 
  margin: 0;
  background: rgba(255, 255, 255, 1);
  background: rgba(222, 227, 232, 0.73);
  box-shadow: 0px -1px 3px -1px rgba(40, 46, 63, 0);
}
.fixedsave > div {
  text-align: center;
  max-width: 1000px;
  width: 100%;
  padding: 10px 0;
}
.fixedsave input {
  background: #fff;
}
hr {
  background: #E0E2E8;
}

.field-with-buttons .input {
  min-height: 7em;
  max-height: 300px !important;
}

textarea.nowrap {
  white-space: nowrap;
  overflow-x: auto! important;
}
.field-content > .text {
  margin-bottom: -1.0em;
}
.small .text p {
  margin-bottom: 0.5em;
}

/* Structure */
.structureskinny-empty,
.structure-empty {
  padding: 1.5em;
  background: #E1E2E8 !important;
}
a.label-option {
  cursor:pointer;
}


/* ---- Medium Editor --------------------- */

.medium-editor.over,
textarea.over {
  border-color: #000;
}
.medium-editor-input {
  display: none;
  min-height: 300px;
}
.medium-editor {
  min-height: 69px;
  resize: none;
  overflow: hidden;
}

.medium-editor p {
  margin-bottom: 1.6em;
  font-size: 15.2px;
}
.medium-editor h1, 
.medium-editor h2 {
  margin-bottom: 0.7em;
  font-weight: 400;
  color: #000066;
  font-size: 24px;
  line-height: 1.5em;
}

.medium-editor h3 {
  margin-bottom: 0.7em;
  font-weight: 400;
  color: #000066;
  font-size: 19px;
  line-height: 1.5em;
}
.medium-editor a {
  color: #ff6600;
}
.medium-editor a:hover {
  color: #000066;
}
.medium-editor b,
.medium-editor strong {
  font-weight: 600;
  color: #3C4556;
}
.medium-editor ul, 
.medium-editor ol {
  margin-left: 2em;
  margin-bottom: 1.8em;
}
.medium-editor li {
  margin-bottom: 0.6em;
}


div.medium-editor-placeholder:after {
  color: #AAACB6;
  top: 7px;
  left: 9px;
  font-style: normal;
  white-space: pre;
}




@media screen and (min-width: 60em) {
  .field-with-line {
    margin: 3.5em 0 4.5em;
  }
  .field-with-line {
    clear: both;
    margin: 1.5em 0 2.5em;
  }
  .field-grid-item-1-3 {
    width: 30%;
  }
  .field-grid-item-2-3 {
    width: 70%;
  }
  .field-grid-item-1-4 {
    width: 25%;
  }
  .field-grid-item-3-4 {
    width: 75%;
  }

  .mainbar {
    max-width: 1000px;
  }
  .dashboard {
    max-width: 1190px;
    margin: 0 auto;
  
    -webkit-column-count: 2;    
    -moz-column-count: 2;    
    column-count: 2;  };
}
  .dashboard .dashboard-section {
    margin-bottom: 1.5em;
  }
}






.structureone {
  padding-bottom: 0.5em;
}
.structureone-entries {
  border: 2px dotted #C7CBE5;
  /* border-style: solid; */
  /* padding: 0.25em; */
}
.structureone-entry {
  background: #FFF;
  position: relative;
}
.structureone-entry.ui-sortable-placeholder {
  /*margin-bottom: 0px;*/
}
.structureone-entry.ui-sortable-helper > * {
  border-bottom-color: #fff;
}
.structureone-entry:last-child {
}
.structureone-entry-content {
  padding: 9px 1.5em;
  cursor: pointer;
  overflow: hidden;
  height: 40px;
  line-height: 25px;
}
.structureone-entry-options {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #efefef;
  background: #fff;
}
.structureone-entry-options ul {
  
}
.structureone-entry-options li {
    display: block;
  
    float: left;
}
.structureone-entry-options .btn {
  padding: 12px 1.5em;
  width: 100%;
  margin-bottom: -1px;
}
.structureone-empty {
  padding: 1.5em;
  background: #ddd;
}
.structureone-empty a {
  border-bottom: 2px solid #aaa;
  margin-left: .5em;
}
.structureone-empty a:hover {
  border-color: #000;
}

.structureone .btn-with-icon .icon {
  /*color: #A5ACC5;*/
}
